* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-size: 1 rem;
  font-family: sans-serif;
}

header {
  padding: 1em 2.04em;
  background-color: #01579B;
  overflow: auto;
}

header > nav {
  float: right;
}

.top_links, .top_links:visited {
  text-decoration: none;
  display: inline-block;
  padding: 0 1em;
  color: white;
}

main {
  width: 80%;
  margin: 0 auto;
}

.horizontal_scroll {
  display: flex;
  justify-content: space-around;
}

.timeframe {
  display: inline-block;
  width: calc(80vw / 6);
  background-color: #03A9F4;
  text-align: center;
  padding: 0.83em 0;
  border-radius: 25px;
  border: none;
}

.timeframe.selected, .timeframe:hover {
  background-color: #01579B;
  color: white;
}

.rider_route table {
  width: 20%;
}

.riding_team h4 {
  display: inline-block;
}

#riding_selection {
  display: inline-block;
}

.schedule {
  display: flex;
  justify-content: space-between;
}

.rider_route {
  width: 30%;
}

#routing_table {
  width: 100%;
  text-align: left;
}

#routing_table th {
  background-color: #E0E0E0;
  padding: 1em;
}

#routing_table td {
  padding: 1em;
  text-align: center;
}

#routing_table tbody tr:nth-child(even) {
  background-color: #EEEEEE;
}

#routing_table tbody tr:hover {
  background-color: #9E9E9E;
}

/* Map */
.map {
  height: 60vh;
  width: 60%;
}
